body {
  background-color: lightblue;
}

h1 {
  background-color: yellow;
  color: green;
}

p {
  background-color: orange;
}

/* Estilo Solo para el párrafo "especial" */
#especial {
  background-color: green;
  color: white;
}
