/* Ponemos a cero todas las propiedades del cuerpo */
/* Sin marge, sin relleno y sin borde              */
body {
  padding: 0px;
  margin: 0px;
  border: none;
}

/*  Propiedades de la caja del párrafo */
p {
  margin: 0px;
  padding: 10px; /* Relleno */
  border:solid;
  border-color: blue;
}
